<nav class="navbar navbar-dark bg-dark fixed-top">
  <a class="navbar-brand"  href="/">Angular-HttpClient</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Products</a>
      <a class="nav-item nav-link" href="#">About</a>
      <a class="nav-item nav-link" href="#">Contact</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://github.com/jeffcarroll58" target="_blank">
        <i class="fa fa-github"></i>
      </a>
    </div>
  </div>
</nav>
<div style="height: 4em;"></div>